<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-ld-moments-sdk"
        version="0.1.0">

  <name>Moments SDK</name>

  <preference name="GOOGLE_API_KEY"/>
  <preference name="ENABLE_CONTEXT_AWARE" default="false"/>
  <preference name="KEEP_SERVICE" default="false"/>
  <preference name="FOREGROUND_ONLY" default="true"/>
  <preference name="SHOW_PRIVACY_POLICY" default="true"/>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/moments.js" target="js/moments.js"/>

  <platform name="android">
    <js-module src="www/moments.js" name="moments">
      <clobbers target="window.plugins.moments" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MomentsPlugin">
        <param name="android-package" value="com.lotadata.moments.plugin.MomentsPlugin"/>
        <param name="onload" value="true" />  <!-- Must Have -->
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.google.android.awareness.API_KEY" android:value="$GOOGLE_API_KEY"/>
      <meta-data android:name="com.google.android.geo.API_KEY" android:value="$GOOGLE_API_KEY"/>
      <meta-data android:name="com.google.android.nearby.messages.API_KEY" android:value="$GOOGLE_API_KEY"/>
      <meta-data android:name="com.lotadata.moments.ENABLE_CONTEXT_AWARE" android:value="$ENABLE_CONTEXT_AWARE"/>
      <meta-data android:name="com.lotadata.moments.KEEP_SERVICE" android:value="$KEEP_SERVICE"/>
      <meta-data android:name="com.lotadata.moments.FOREGROUND_ONLY" android:value="$FOREGROUND_ONLY"/>
      <meta-data android:name="com.lotadata.moments.SHOW_PRIVACY_POLICY" android:value="$SHOW_PRIVACY_POLICY"/>
    </config-file>

    <source-file src="src/android/MomentsPlugin.java" target-dir="src/com/lotadata/moments/plugin/"/>
    <source-file src="lotadata-sdk-latest.aar" target-dir="libs"/>
    <framework src="src/android/extras.gradle" custom="true" type="gradleReference"/>
  </platform>
</plugin>
